<!--This file has my information like: Phone no. Email and address. It has a contact form too which is not working yet using Node.js. But would be working soon in near future.-->
<% include shared/header.ejs%>
<section id="contact-section">
    <section class="container">
        <article class="section-title center">
            <h2 class="contact-headings"><%= title%></h2>
            <p class="contact-headings"><%= tagline %></p>
        </article>
        <article class="col-md-6">
            <h4 class="contact-headings"><%= subtitle1%></h4>
            <hr>
            <aside class="shortspace"></aside>
            <p><a href="<%= addressLink%>" target="_blank"><i class="fa fa-map-marker"></i><%= address%></a></p>
            <p><a href="<%= emailLink%>"><i class="fa fa-envelope-o"></i><%= email%></a></p>
            <p><a href="<%= telLink%>"><i class="fa fa-phone"></i><%= tel%></a></p>
            <aside class="shortspace"></aside>
            <h4 class="contact-headings"><%= subtitle2%></h4>
            <hr>
            <aside class="shortspace"></aside>
            <section id="social-section">
                <article class="col-md-12">
                    <article class="social">
                        <ul>
                            <a href="https://www.facebook.com/yogirajvinder"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/rajvinder-yogi-1022a681"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/RajvinderYogi"><i class="fa fa-github"></i></a>
                            <a href="https://www.instagram.com/rajvinderyogi"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/yogirajvinder"><i class="fa fa-twitter"></i></a>
                        </ul>
                    </article>
                </article>
            </section>
        </article>
        <section class="col-md-6">
            <h4 class="contact-headings"><%= subtitle3%></h4>
            <hr>
            <form name="sentMessage" id="contactForm" novalidate>
                <section class="row">
                    <article class="col-md-6">
                        <aside class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="First Name*" required>
                            <p class="help-block text-danger"></p>
                        </aside>
                    </article>
                    <article class="col-md-6">
                        <aside class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Email*" required>
                            <p class="help-block text-danger"></p>
                        </aside>
                    </article>
                </section>
                <article class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message*" required></textarea>
                    <p class="help-block text-danger"></p>
                </article>
                <p class="contact-headings"><%= infomsg %></p>
                <aside id="success"></aside>
                <button type="submit" class="btn btn-default"><%= button%></button>
            </form>
        </section>
    </section>
</section>

<% include shared/footer.ejs%>