<% include shared/header.ejs%>
<!-- Services Section -->
<section class="fancy-back">
    <div class="container">
        <div id="services-section">
        <div class="section-title">
            <h2><%= title %></h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-pencil"></i>
                <h4><%= service1%></h4>
                <p><%= service1Body %></p>
            </div>
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-code"></i>
                <h4><%= service2%></h4>
                <p><%= service2Body %></p>
            </div>
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-pie-chart"></i>
                <h4><%= service3%></h4>
                <p><%= service3Body %>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-file-text-o"></i>
                <h4><%= service4%></h4>
                <p><%= service4Body %></p>
            </div>
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-rocket"></i>
                <h4><%= service5%></h4>
                <p><%= service5Body %></p>
            </div>
            <div class="col-md-4 col-sm-6 service"> <i class="fa fa-camera"></i>
                <h4><%= service6%></h4>
                <p><%= service6Body %></p>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>

    <div class="container">
        <div id="services-section">
        <div class="section-title">
            <h2><%= section2%></h2>
            <hr>
        </div>
    </div>
</div>
</section>

</div><% include shared/footer.ejs%>