<% include shared/header.ejs%>
<!-- Services Section -->
    <section id="services-section">
        <section class="container">
            <article class="section-title">
                <h2><%= title %></h2>
                <hr>
            </article>
            <section class="row">
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-pencil"></i>
                <h4><%= service1%></h4>
                <p><%= service1Body %></p>
            </article>
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-code"></i>
                <h4><%= service2%></h4>
                <p><%= service2Body %></p>
            </article>
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-pie-chart"></i>
                <h4><%= service3%></h4>
                <p><%= service3Body %></p>
            </article>
        </section>
        <aside class="shortspace"></aside>
        <section class="row">
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-file-text-o"></i>
                <h4><%= service4%></h4>
                <p><%= service4Body %></p>
            </article>
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-line-chart"></i>
                <h4><%= service5%></h4>
                <p><%= service5Body %></p>
            </article>
            <article class="col-md-4 col-sm-6 service"> <i class="fa fa-camera"></i>
                <h4><%= service6%></h4>
                <p><%= service6Body %></p>
            </article>
        </section>
            <aside class="space"></aside>
            <article class="section-title">
                <h2><%= section2%></h2>
                <hr>
            </article>
            <section class="row">
                <section class="col-xs-4 col-sm-2">
                    <article class="process">
                        <i class="fa fa-lightbulb-o"></i>
                        <h3><%= work1 %></h3>
                    </article>
                    <aside class="link"></aside>
                </section>
                <section class="col-xs-4 col-sm-2">
                    <article class="process">
                        <i class="fa fa-paint-brush"></i>
                        <h3><%= work2 %></h3>
                    </article>
                    <aside class="link"></aside>
                </section>
                <section class="col-xs-4 col-sm-2">
                    <article class="process">
                        <i class="fa fa-connectdevelop"></i>
                        <h3><%= work3 %></h3>
                    </article>
                    <aside class="link"></aside>
                </section>
                <section class="col-xs-4 col-sm-2">
                    <article class="process">
                        <i class="fa fa-check"></i>
                        <h3><%= work4 %></h3>
                    </article>
                    <aside class="link"></aside>
                </section>
                <section class="col-xs-4 col-sm-2">
                    <article class="process">
                        <i class="fa fa-rocket"></i>
                        <h3><%= work5 %></h3>
                    </article>
                </section>
            </section>
    </section>
</section>


<% include shared/footer.ejs%>